node_modules
.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov
dist
dist-ssr
*.local
*.log
*.log.*
*.test
*.spec
*.tmp
*.bak
*.swp
*.back
*.orig
._*
.npmrc
yarn.lock
package-lock.json
yarn-error.log